using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading;
using System.Threading.Tasks;
using Microsoft.EntityFrameworkCore;
using {{ project_namespace }}.Application.Common.Pipeline;
using {{ project_namespace }}.Application.Modules.Auth.DTOs;
using {{ project_namespace }}.Application.Modules.Auth.Responses;
using {{ project_namespace }}.Application.Services.Repositories;
using {{ project_namespace }}.Application.Services.Security.Encryption;
using {{ project_namespace }}.Application.Services.Security.JWT;
using {{ project_namespace }}.Domain.Entities;
using {{ project_namespace }}.Domain.Enums;
using {{ project_namespace }}.Application.Services.Security.Otp;

namespace {{ project_namespace }}.Application.Modules.Auth.Commands.Login;

public class LoginCommand : ICommand<LoggedResponse>
{
    public required UserForLoginDto UserForLoginDto { get; set; }
    public string IpAddress { get; set; } = string.Empty;
}

internal sealed class LoginCommandHandler : ICommandHandler<LoginCommand, LoggedResponse>
{
    private readonly IUserRepository _userRepository;
    private readonly IUserOperationClaimRepository _userOperationClaimRepository;
    private readonly IRefreshTokenRepository _refreshTokenRepository;
    private readonly IOtpAuthenticatorRepository _otpAuthenticatorRepository;
    private readonly ITokenHelper _tokenHelper;

    public LoginCommandHandler(
        IUserRepository userRepository,
        IUserOperationClaimRepository userOperationClaimRepository,
        IRefreshTokenRepository refreshTokenRepository,
        IOtpAuthenticatorRepository otpAuthenticatorRepository,
        ITokenHelper tokenHelper)
    {
        _userRepository = userRepository;
        _userOperationClaimRepository = userOperationClaimRepository;
        _refreshTokenRepository = refreshTokenRepository;
        _otpAuthenticatorRepository = otpAuthenticatorRepository;
        _tokenHelper = tokenHelper;
    }

    public async ValueTask<LoggedResponse> HandleAsync(LoginCommand request, CancellationToken cancellationToken)
    {
        User? user = await _userRepository.GetAsync(u => u.Email == request.UserForLoginDto.Email, cancellationToken: cancellationToken);
        if (user == null)
            throw new Exception("Kullanıcı bulunamadı.");

        if (!HashingHelper.VerifyPasswordHash(request.UserForLoginDto.Password, user.PasswordHash, user.PasswordSalt))
            throw new Exception("Parola hatalı.");

        var loggedResponse = new LoggedResponse();

        if (user.AuthenticatorType != AuthenticatorType.None)
        {
            if (string.IsNullOrEmpty(request.UserForLoginDto.AuthenticatorCode))
            {
                loggedResponse.RequiredAuthenticatorType = user.AuthenticatorType;
                return loggedResponse;
            }

            if (user.AuthenticatorType == AuthenticatorType.Otp)
            {
                var otpAuthenticator = await _otpAuthenticatorRepository.GetAsync(o => o.UserId == user.Id && o.IsVerified, cancellationToken: cancellationToken);
                if (otpAuthenticator == null || !OtpHelper.VerifyTotpCode(otpAuthenticator.SecretKey, request.UserForLoginDto.AuthenticatorCode))
                    throw new Exception("2FA doğrulama kodu geçersiz.");
            }
        }

        var userOperationClaims = await _userOperationClaimRepository.GetListAsync(
            u => u.UserId == user.Id,
            include: u => u.Include(x => x.OperationClaim),
            cancellationToken: cancellationToken
        );
        IList<OperationClaim> operationClaims = userOperationClaims.Items.Select(u => u.OperationClaim).ToList();

        AccessToken accessToken = _tokenHelper.CreateToken(user, operationClaims);
        {{ project_namespace }}.Domain.Entities.RefreshToken refreshToken = _tokenHelper.CreateRefreshToken(user, request.IpAddress);

        await _refreshTokenRepository.AddAsync(refreshToken);

        loggedResponse.AccessToken = accessToken.Token;
        loggedResponse.Expiration = accessToken.Expiration;
        loggedResponse.RefreshToken = refreshToken.Token;

        return loggedResponse;
    }
}
