namespace {{ project_namespace }}.Application.Modules.UserOperationClaims.Responses;

public class UpdatedUserOperationClaimResponse
{
    public int Id { get; set; }
    public int UserId { get; set; }
    public int OperationClaimId { get; set; }
}
