namespace {{ project_namespace }}.Application.Modules.UserOperationClaims.DTOs;

public class UpdateUserOperationClaimDto
{
    public int Id { get; set; }
    public int UserId { get; set; }
    public int OperationClaimId { get; set; }
}
