namespace {{ project_namespace }}.Modules.{{ module_name }};

using {{ project_namespace }}.Common.Pipeline;
using {{ project_namespace }}.Data;
using System.Collections.Generic;

public static class Delete
{
    public sealed record Command({{ entity.id_type }} Id) : ICommand<Response>;

    public sealed record Response({{ entity.id_type }} Id);

    internal sealed class Handler({{ db_context_name }} db) :
        ICommandHandler<Command, Response>
    {
        public async ValueTask<Response> HandleAsync(Command request, CancellationToken ct)
        {
            var entity = await db.{{ entity.name_plural }}.FindAsync(new object[] { request.Id }, ct);
            if (entity is null)
                throw new KeyNotFoundException($"{{ entity.name }} with Id '{request.Id}' was not found.");

            db.{{ entity.name_plural }}.Remove(entity);
            await db.SaveChangesAsync(ct);

            return new Response(request.Id);
        }
    }
}
