namespace {{ project_namespace }}.Infrastructure.Security.JWT;

public class TokenOptions
{
    public string Audience { get; set; } = "{{ project_namespace }}Users";
    public string Issuer { get; set; } = "{{ project_namespace }}";
    public int AccessTokenExpiration { get; set; } = 60;
    public string SecurityKey { get; set; } = "clrinfcs_default_jwt_super_secret_security_key_2026_must_be_at_least_512_bits_long!";
    public int RefreshTokenTTL { get; set; } = 7;
}
