using {{ project_namespace }}.Domain.Common.Entities;

namespace {{ project_namespace }}.Domain.Entities;

public class OtpAuthenticator : Entity<int>
{
    public int UserId { get; set; }
    public byte[] SecretKey { get; set; } = Array.Empty<byte>();
    public bool IsVerified { get; set; }

    public virtual User User { get; set; } = default!;

    public OtpAuthenticator()
    {
    }

    public OtpAuthenticator(int userId, byte[] secretKey, bool isVerified)
    {
        UserId = userId;
        SecretKey = secretKey;
        IsVerified = isVerified;
    }

    public OtpAuthenticator(int id, int userId, byte[] secretKey, bool isVerified)
        : base(id)
    {
        UserId = userId;
        SecretKey = secretKey;
        IsVerified = isVerified;
    }
}
