namespace {{ project_namespace }}.Application.Modules.Users.Responses;

public class CreatedUserResponse
{
    public int Id { get; set; }
    public string FirstName { get; set; } = string.Empty;
    public string LastName { get; set; } = string.Empty;
    public string Email { get; set; } = string.Empty;
}
