namespace {{ project_namespace }}.Application.Modules.OperationClaims.Responses;

public class CreatedOperationClaimResponse
{
    public int Id { get; set; }
    public string Name { get; set; } = string.Empty;
}
